<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP App | NER</title>
</head>
<body>
    <form action="/perform_ner" method="post">
        <label for="text">Type your text here</label>
        <textarea name="user_input" id="text"></textarea>
        <br><br>
        <input type="submit" value="Perform NER">
    </form>

    <!-- {% if result %}
        <p>{{ result }}</p>
    {% endif %} -->
    
</body>
</html>